html, body {
  font-size: 10pt;
  font-family: Verdana;
}

body {
  background: #FFF url('/img/bg-main.png') repeat-x;
}

#logo {
  padding: 20px 0;
}

#menu {
  text-align: right;
  padding: 51px 0 0 0;
}

#menu ul li {
  display: inline;
  list-style-type: none;
}

#banner {
  padding: 10px 0 0 0;
  width: 105%;
}

#autosearch {
  background: url('/img/bg-search.png') no-repeat;
  width: 480px;
  height: 345px;
  padding: 10px 20px 0 40px;
  margin: 0 0 0 -20px;
}

  #autosearch .blurb {
    padding: 20px 0;
    font-size: 16pt;
    line-height: 18pt;
  }

  #autosearch .searchbox {
    margin: 20px 0 0 30px;
    background: url('/img/bg-search-box.png') no-repeat;
    width: 379px;
    height: 52px;
  }

    #autocomplete-result {
      max-height: 256px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 6px;
      z-index: 10000;
      display: none;
      position: relative;
    }

    #autocomplete-result ul li:first-child {
      border-top: 1px solid #CCC;
    }

    #autocomplete-result ul li {
      border-left: 1px solid #CCC;
      border-right: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      margin-left: -22px;
      list-style-type: none;
      font-size: 12pt;
      background-color: #FFF;
      padding: 10px;
      width: 350px;
    }

    #autocomplete-result ul li a {
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
      color: #000;
    }

      #autocomplete-result ul li a:hover {
        color: #369;
      }

    #autosearch .searchbox #autocomplete {
      background: url('/img/bg-search-textbox.png') repeat-x;
      border: 0 transparent;
      padding: 8px;
      width: 252px;
      margin: 8px 0 0 7px;
      font-style: italic;
    }

    #autosearch .searchbox button {
      background: url('/img/btn-search.png') repeat-x;
      border: 0 transparent;
      width: 91px;
      height: 40px;
      margin: 6px 0 0 3px;
    }

  .onetwothree {
    padding: 30px 10px 34px 10px;
    width: 455px;
    background: #368a42;
    border: 1px solid #368a42;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

    .onetwothree img {
      width: 606px;
      height: 276px;
    }

#new-products .row {
  margin-top: 7px;
  height: 110px;
  padding: 10px 0;
  z-index: 5;
}

.random-block {
  width: 22%;
  display: block;
  float: left;
  padding: 6px;
  margin: 7px 8px 7px 8px;
  background: #FFF;
  border: 1px solid #888;
  -moz-border-radius: 15px;
  border-radius: 15px;
  min-height: 80px;
  vertical-align: middle;
}

  .random-block .random-image {
    height: 75px;
    width: 75px;
    display: block;
    text-align: center;
    float: left;
  }

  .random-block a {
    text-decoration: none;
    color: inherit;
  }

  .random-block .random-text {
    line-height: 12pt;
    font-size: 8pt;
    text-align: center;
  }

    .random-block .random-text strong {
      font-size: 195%;
      line-height: 210%;
      color: #075700;
    }

    .random-block .random-text .random-price {
      color: #36b55a;
      font-weight: bold;
      font-size: 155%;
      line-height: 150%;
    }
  
  .random-block img {
    height: 75px;
  }

  .random-block:first-child {
    margin-left: 2px;
  }

  .random-block:last-child {
    margin-right: 0;
  }

/* Font Styles */
.white {
  color: #FFF;
}
.arial-black {
  font-family: 'Arial Black';
  font-size: 30pt;
  line-height: 38pt;
}
.green {
  color: #36B55A;
}
.small {
  line-height: 20px;
  font-size: 120%;
  font-weight: bold;
}

/* Tables */
table {
  background: #fff;
  width: 100%;
}

  table tr td {
    vertical-align: middle;
    font-size: 8pt;
  }

  table tr:nth-child(2n) td {
    background: #f0f0f0;
  }

/* Misc Styles */
input.quantity {
  width: 30px;
  font-size: 8pt;
  padding: 2px;
  text-align: center;
  margin: 0;
}

.right {
  text-align: right;
}

#footer {
  margin-top: 10px;
  text-align: right;
}

.search-image {
  height : 30px;
  width : 30px;
}