<h2>Edit Page</h2>
<div class="users form">
<?php echo $this->Form->create('Featured Listing'); ?>
    <fieldset>
        <?php 
        echo $this->Form->input('mls', array('style' => 'width: 100%; height: 500px'));
        echo '<hr>';
    ?>
    </fieldset>
<?php 
echo $this->Form->submit('Submit', array('class' => 'btn')); 
echo $this->Form->end();
?>
</div>