body {
  background: #FFF url('/img/bg-admin.png') repeat-x;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.table th.center, .table td.center, .table a.center {
  text-align: center;
}



.pagination ul>li>a, .pagination ul>li.active {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #003f4f;
  font-weight: bold;
  margin-right: 10px;
  padding: 7px 13px
}

.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active {
  background-color: #003f4f;
  color: #fff
}


.error-message, #authMessage {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.pagination ul > li.active {
  color: #DDD;
  background-color: #003f4f;
}