body {
  background: #FFF url('/img/bg-sidebar.png') repeat-x;
}

#footer {
  margin-top: 50px;
  text-align: right;
}

/* Tables */
table {
  background: #fff;
  width: 100%;
}

  table tr td {
    vertical-align: middle;
    font-size: 8pt;
  }

  table tr:nth-child(2n) td {
    background: #f0f0f0;
  }

/* Misc Styles */
input.quantity {
  width: 30px;
  font-size: 8pt;
  padding: 2px;
  text-align: center;
  margin: 0;
}

.right {
  text-align: right;
}

table tr td {
  text-align: center;
  font-size: 10pt;
}

.header {
  font-size: 15pt;
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding: 0 0 5px 0;
}

.sidebox ul {
  padding: 0;
  margin: 0;
}
.sidebox ul li {
  list-style-type: none;
  padding: 5px 5px 8px 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #EEE;
}
.sidebox ul li.transparent {
  background: transparent;
  border: 0;
}
.sidebox ul li a {
  text-decoration: none;
}
.sidebox ul li:hover {
  background: #FFF;
}

.blue {
  color: #0088CC;
}

.required label {
  color: #0088CC;
}

.required input, .required select {
  border-color: #0088CC;
}

table tr.transparent td {
  background: transparent;
}



.error-message {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}