@charset "UTF-8";


.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}


.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;

}


.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 10px 22px;
	margin: 0px 3px 0px 0px;
	font-size: 12px;
	color: #fff;
	font-family:Arial;
	letter-spacing: 1px;
	text-transform: uppercase;
	list-style: none;
	border-left: solid 1px #999999;
	border-bottom: solid 1px #999999;
	border-top: solid 1px #999999;
	border-right: solid 1px #666666;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	background-color:#C3400F;
}


.TabbedPanelsTabHover {
	background-color:#285518;
}


.TabbedPanelsTabSelected {
	background-color:#285518;
}


.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}


.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #999999;
	border-bottom: solid 1px #999999;
	border-top: solid 1px #999999;
	border-right: solid 1px #666666;
	background: #eee;
}


.TabbedPanelsContent {
	padding: 10px;
	font-size:13px;
	font-family:Arial;
	line-height:20px;
	background-color:#FFFFC0;
		
}


.TabbedPanelsContentVisible {
}


.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-left: solid 1px #666666;
	border-bottom: solid 1px #666666;
	border-top: solid 1px #666666;
	border-right: solid 1px #666666;
}


.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}


.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}

.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 10em;
	height: 20em;
}
