/* CSS Document */
@font-face {
    font-family: 'geometr212_bkcn_btbook';
    src: url('fonts/geo212nc.eot');
    src: url('fonts/geo212nc.eot?#iefix') format('embedded-opentype'),
         url('fonts/geo212nc.woff') format('woff'),
         url('fonts/geo212nc.ttf') format('truetype'),
         url('fonts/geo212nc.svg#geometr212_bkcn_btbook') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('fonts/futurabc.eot');
    src: url('fonts/futurabc.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabc.woff') format('woff'),
         url('fonts/futurabc.ttf') format('truetype'),
         url('fonts/futurabc.svg#futura_bdcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'belwe_cn_btbold';
    src: url('fonts/belwec.eot');
    src: url('fonts/belwec.eot?#iefix') format('embedded-opentype'),
         url('fonts/belwec.woff') format('woff'),
         url('fonts/belwec.ttf') format('truetype'),
         url('fonts/belwec.svg#belwe_cn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'belwe_lt_btlight';
    src: url('fonts/belwel.eot');
    src: url('fonts/belwel.eot?#iefix') format('embedded-opentype'),
         url('fonts/belwel.woff') format('woff'),
         url('fonts/belwel.ttf') format('truetype'),
         url('fonts/belwel.svg#belwe_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;}

body {margin:0px; padding:0px; background-color:#181818;}

.top_bg {background:url(images/top_bg.jpg) repeat-x; height:102px;}
.menu_bg {background:url(images/menu_bg.jpg) repeat-x; height:46px;}
.slider_bg {background:url(images/slider_bg.jpg) repeat-x; height:84px;}
.bot_bg {background:url(images/bot_bg.jpg) repeat-x; height:0px;}

.ph {font-family: 'futura_bdcn_btbold'; font-size:28px; color:#fff; text-decoration:none;}

.top_menu {background:url(images/menu_bg.jpg) repeat-x; font-family:'belwe_lt_btlight'; font-size:17px; color:#fff; text-decoration:none;}
.top_menu a{background:url(images/menu_bg.jpg) repeat-x; font-family:'belwe_lt_btlight'; font-size:17px; color:#fff; text-decoration:none; padding: 12px 0px; display:block;}
.top_menu a:hover{background:url(images/menu_hover.jpg) repeat-x; font-family:'belwe_lt_btlight'; font-size:17px; color:#fff; text-decoration:none; padding: 12px 0px; display:block;}
.top_menu a#active{background:url(images/menu_hover.jpg) repeat-x; font-family:'belwe_lt_btlight'; font-size:17px; color:#fff; text-decoration:none; padding: 12px 0px; display:block;}

.banner {background:url(images/banner_01.png) no-repeat; height:579px; width:1004px;}

.wel_tx {font-family:'belwe_cn_btbold'; font-size:28px; color:#fff; text-decoration:none;}
.dotted_line {background:url(images/dotted_line.jpg) repeat-x center; height:1px; padding:34px 0px 0px 0px;}

.text{font-family:Arial; font-size:13px; color:#999999; text-decoration:none; line-height:20px;}
.text a{color:#FFFFFF; text-decoration:underline;}
.text a:hover{color:#FFFFFF; text-decoration:none;}

.green_tx{font-family:Arial; font-size:15px; color:#18b7ff; text-decoration:none; padding:13px 0px 13px 0px;}
.feat_tx{font-family:Arial; font-size:12px; color:#999999; text-decoration:none; padding:0px 0px 0px 0px; line-height:19px;}
.feat_tx a{font-family:Arial; font-size:12px; color:#999999; text-decoration:none; padding:0px 0px 0px 0px;}
.feat_tx a:hover{font-family:Arial; font-size:12px; color:#6195eb; text-decoration:none; padding:0px 0px 0px 0px;}
.shadow_bg {background:url(images/shadow.jpg) no-repeat; height:50px;}

.bot_hd {font-family:'belwe_cn_btbold'; font-size:22px; color:#fff; text-decoration:none; padding-bottom: 30px;}

.news_tf{background: url(images/textfield.jpg) no-repeat top; width:195px; height:31px; border:none; font-family: 'geometr212_bkcn_btbook'; font-size: 14px; color: #646464;}

.viewmore{font-family:Arial; font-size:12px; color:#18b7ff; text-decoration:none; padding:0px 0px 0px 0px; line-height:18px;}
.viewmore a{font-family:Arial; font-size:12px; color:#18b7ff; text-decoration:none; padding:0px 0px 0px 0px; line-height:18px;}
.viewmore a:hover{font-family:Arial; font-size:12px; color:#089bde; text-decoration:none; padding:0px 0px 0px 0px; line-height:18px;}

.search_dropdown { background: url(images/middle.png) repeat-x left; width:225px; height: 31px; font-family: 'geometr212_bkcn_btbook'; font-size: 13px; color:#646464; border:none;}
.search_none { font-family: 'geometr212_bkcn_btbook'; font-size: 12px; color:#646464; border:none; background: none; width:217px; }


.left_textfield { background: url(images/con_textfield_bg.png) no-repeat top; width:225px; height: 34px; font-family: Arial; font-size: 13px; color:#898989; border:none;}
.decription { background: url(images/decription_bg.png) no-repeat left top; width:225px; height: 79px; font-family: Arial; font-size: 13px; color:#898989; border:none; }

.left_dropdown { background: url(images/con_middle.jpg) repeat-x left; width: 217px; height: 34px; font-family: Arial; font-size: 13px; color:#898989; border:none;}
.left_none { font-family: Arial; font-size: 13px; color:#898989; border:none; background: none; width:217px; }
