  
  <?php 
  echo $this->Html->script('jquery.min');
  echo $this->Html->script('bootstrap.min.js');
  echo $this->Html->script('admin_application.js');
  ?>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=137261509757393";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>