.ddsmoothmenu{
font: 16px 'belwe_lt_btlight';
background: ; /*background of menu bar (default state)*/
width: 100%;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
padding: 0px 0px 0px 0px;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: white;
padding: 14px 11px 13px 11px;
color: #2d2b2b;
text-decoration: none;
}
.ddsmoothmenu ul li li a{
display: block;
background: #949494; /*background of menu items (default state)*/
color: white;
padding: 5px 12px;
color: #fff;
text-decoration: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 3px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:  !important; 
color: white;
}

.ddsmoothmenu ul li a:hover{
background: url(../images/menu_hover.jpg) repeat-x; /*background of menu items during onmouseover (hover state)*/
color: #fff;
display:block;
}

.ddsmoothmenu ul li li a:hover{
background: #29a0d6; /*background of menu items during onmouseover (hover state)*/
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 3px;
}

.ddsmoothmenu ul li a#hover{
background: url(../images/menu_hover.jpg) repeat-x; /*background of menu items during onmouseover (hover state)*/
color: #fff;

}
.ddsmoothmenu ul li a#active1{
background: url(../images/menu_hover.jpg) repeat-x; /*background of menu items during onmouseover (hover state)*/
color: #fff;

}
/* sub menus */
.ddsmoothmenu ul li ul{
position: absolute;
left: -3000px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (alters style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: 16px 'belwe_lt_btlight';
width: 190px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow{ 
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background-color:; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow{
margin: 0px 0 0 0px; /* in NON CSS3 capable browsers gives the offset of the shadow */
opacity: ; /* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
margin: 0; /* in CSS3 capable browsers overrides offset from NON CSS3 capable browsers, allowing the box-shadow values in the next selector to govern that */
/* opacity: 1; */ /* optionally uncomment this to remove partial opacity for browsers supporting a box-shadow property which has its own slight gradient opacity */
}

.ddcss3support .ddshadow {
background-color: transparent;
box-shadow: ; /* box-shadow color generally should be a little darker than that for the NON CSS3 capable browsers background-color */
-moz-box-shadow: ;
-webkit-box-shadow: ;
}